In [ ]:
import warnings 
warnings.filterwarnings('ignore')

## K-Nearest-Neighbors

KNN falls in the supervised learning family of algorithms. Informally, this means that we are given a labelled dataset consiting of training observations (x,y) and would like to capture the relationship between x and y. More formally, our goal is to learn a function h:X→Y so that given an unseen observation x, h(x) can confidently predict the corresponding output y.

In this module we will explore the inner workings of KNN, choosing the optimal K values and using KNN from scikit-learn.

## Overview

1.Read the problem statement.

2.Get the dataset.

3.Explore the dataset.

4.Pre-processing of dataset.

5.Visualization

6.Transform the dataset for building machine learning model.

7.Split data into train, test set.

7.Build Model.

8.Apply the model.

9.Evaluate the model.

10.Finding Optimal K value

11.Repeat 7,8,9 steps.

## Problem statement

### Dataset

The data set we’ll be using is the Iris Flower Dataset which was first introduced in 1936 by the famous statistician Ronald Fisher and consists of 50 observations from each of three species of Iris (Iris setosa, Iris virginica and Iris versicolor). Four features were measured from each sample: the length and the width of the sepals and petals.

**Attributes of the dataset:** https://archive.ics.uci.edu/ml/datasets/Iris

**Train the KNN algorithm to be able to distinguish the species from one another given the measurements of the 4 features.**

In [2]:
# All the Imports

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.preprocessing import Imputer
from sklearn.model_selection import cross_val_score


column_name=['sepal length in cm','sepal width in cm','petal length in cm','petal width in cm','class']
dataFrame=pd.read_csv("C:/Users/anupama.pushparaju/Documents/Python/Internal_Lab_Residency3/Iris.txt",names=column_name)
print('**** DATAFRAME ****')
dataFrame

**** DATAFRAME ****

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
11,4.8,3.4,1.6,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
17,5.1,3.5,1.4,0.3,Iris-setosa
18,5.7,3.8,1.7,0.3,Iris-setosa
19,5.1,3.8,1.5,0.3,Iris-setosa
20,5.4,3.4,1.7,0.2,Iris-setosa
21,5.1,3.7,1.5,0.4,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
23,5.1,3.3,1.7,0.5,Iris-setosa
24,4.8,3.4,1.9,0.2,Iris-setosa
25,5.0,3.0,1.6,0.2,Iris-setosa
26,5.0,3.4,1.6,0.4,Iris-setosa
27,5.2,3.5,1.5,0.2,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
29,4.7,3.2,1.6,0.2,Iris-setosa
...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,Iris-virginica
121,5.6,2.8,4.9,2.0,Iris-virginica
122,7.7,2.8,6.7,2.0,Iris-virginica
123,6.3,2.7,4.9,1.8,Iris-virginica
124,6.7,3.3,5.7,2.1,Iris-virginica
125,7.2,3.2,6.0,1.8,Iris-virginica
126,6.2,2.8,4.8,1.8,Iris-virginica
127,6.1,3.0,4.9,1.8,Iris-virginica
128,6.4,2.8,5.6,2.1,Iris-virginica
129,7.2,3.0,5.8,1.6,Iris-virginica
130,7.4,2.8,6.1,1.9,Iris-virginica
131,7.9,3.8,6.4,2.0,Iris-virginica
132,6.4,2.8,5.6,2.2,Iris-virginica
133,6.3,2.8,5.1,1.5,Iris-virginica
134,6.1,2.6,5.6,1.4,Iris-virginica
135,7.7,3.0,6.1,2.3,Iris-virginica
136,6.3,3.4,5.6,2.4,Iris-virginica
137,6.4,3.1,5.5,1.8,Iris-virginica
138,6.0,3.0,4.8,1.8,Iris-virginica
139,6.9,3.1,5.4,2.1,Iris-virginica
140,6.7,3.1,5.6,2.4,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
142,5.8,2.7,5.1,1.9,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

## Question 1

Import the data set and print 10 random rows from the data set

In [ ]:
rand_10=dataFrame.sample(10)
rand_10

## Data Pre-processing

## Question 2 - Estimating missing values

*Its not good to remove the records having missing values all the time. We may end up loosing some data points. So, we will have to see how to replace those missing values with some estimated values (median) *

In [ ]:
data_Temp=dataFrame.drop('class', 1)
Imputer = Imputer(missing_values = 'NaN', strategy = 'median', axis =0)
Imputer.fit(data_Temp)
Imputer.transform(data_Temp)
data_Temp

## Question 3 - Dealing with categorical data

Change all the classes to numericals (0to2).

In [ ]:
labelEncoder=LabelEncoder()

dataFrame['class']=labelEncoder.fit_transform(dataFrame['class'])

dataFrame['class'].unique()

## Question 4

*Observe the association of each independent variable with target variable and drop variables from feature set having correlation in range -0.1 to 0.1 with target variable.*

In [ ]:
dataFrame.corr()
#No variables to be dropped as the correlation does not fall into the range of -0.1 to 0.1

## Question 5

*Observe the independent variables variance and drop such variables having no variance or almost zero variance(variance < 0.1). They will be having almost no influence on the classification.*

In [ ]:
dataFrame.var()
#Out of the four independent variables, the variance for all the variables is greater 0.1. We are not dropping any variables.

## Question 6

*Plot the scatter matrix for all the variables.*

In [ ]:

import seaborn as sns
sns.pairplot(dataFrame,diag_kind='kde')

## Split the dataset into training and test sets

## Question 7

*Split the dataset into training and test sets with 80-20 ratio.*

In [ ]:
x=dataFrame.drop('class',1)
print(x)
y=dataFrame[['class']]
print(y)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=1)

## Question 8 - Model

*Build the model and train and test on training and test sets respectively using **scikit-learn**. Print the Accuracy of the model with different values of **k=3,5,9**.*

**Hint:** For accuracy you can check **accuracy_score()** in scikit-learn

In [ ]:
arr=[3,5,9]
for i in range(3):
    nNH=KNeighborsClassifier(n_neighbors=arr[i],weights='distance')
    nNH.fit(X_train,y_train)
    predicted_labels=nNH.predict(X_test)
    print('For k ='+str(arr[i])+' score is '+str(nNH.score(X_test,y_test)))
    ##print('Confusion metrics is ==>> '+metrics.confusion_matrix(y_test,predicted_labels))

## Question 9 - Cross Validation

Run the KNN with no of neighbours to be 1,3,5..19 and *Find the **optimal number of neighbours** from the above list using the Mis classification error

Hint:

Misclassification error (MSE) = 1 - Test accuracy score. Calculated MSE for each model with neighbours = 1,3,5...19 and find the model with lowest MSE

In [ ]:

cv_scores=[]
misCalError=[]
range_of_K=pd.DataFrame(np.arange(1,20,2,dtype='int'),columns=['k'])
range_of_K
for i in(np.arange(1,20,2,dtype='int')):
    nNH=KNeighborsClassifier(n_neighbors=i,weights='distance')
    
    #Divide the data into 10 buckets for cross validation.
    scores=cross_val_score(nNH,X_train,y_train,cv=10,scoring='accuracy')
    cv_scores.append(scores.mean())
    nNH.fit(X_train,y_train)
    predicted_labels=nNH.predict(X_test)
    
    #Calculating the Miscalculation error
    m=1-nNH.score(X_test,y_test)
    misCalError.append(m)
    misCalError
    
    
range_of_K['Mis_Cal_Error']=misCalError

In [ ]:
range_of_K

## Question 10

*Plot misclassification error vs k (with k value on X-axis) using matplotlib.*

In [ ]:
plt.plot(range_of_K['k'],range_of_K['Mis_Cal_Error'])

# Classification vs. Regression
The aim of this project is to predict how likely a student is to pass. Which type of supervised learning problem is this, classification or regression? Why?
Answer:
This project is a classification supervised learning problem because the variable to predict, i.e. if a student graduates or fails to graduate, is categorical. On this case this a dichotomous categorical variable where the only two possible values are "pass" or "fail".

### Overview:

1.Read the problem statement.

2.Get the dataset.

3.Explore the dataset.

4.Pre-processing of dataset.

5.Transform the dataset for building machine learning model.

6.Split data into train, test set.

7.Build Model.

8.Apply the model.

9.Evaluate the model.

10.Provide insights.

## Problem Statement 

Using Logistic Regression **predict the performance of student**. The classification goal is to predict whether the student will pass or fail.

## Dataset 

This data approach student achievement in secondary education of two Portuguese schools. The data attributes include student grades, demographic, social and school related features) and it was collected by using school reports and questionnaires. Two datasets are provided regarding the performance in Mathematics.

**Source:** https://archive.ics.uci.edu/ml/datasets/Student+Performance

# Question 1 - Exploring the Data
*Read the dataset file using pandas. Take care about the delimiter.*

#### Answer:

In [11]:
#Load the dataframe
dataFrame_student=pd.read_csv('C:\\Users\\anupama.pushparaju\\Documents\\Python\\Internal_Lab_Residency3\\student\\student-mat.csv',delimiter=';')
print('*** Student Table ***')
print(dataFrame_student)
#Exploring the dataset
print(dataFrame_student.columns)
print(dataFrame_student.shape)

*** Student Table ***
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
5       GP   M   16       U     LE3       T     4     3  services     other
6       GP   M   16       U     LE3       T     2     2     other     other
7       GP   F   17       U     GT3       A     4     4     other   teacher
8       GP   M   15       U     LE3       A     3     2  services     other
9       GP   M   15       U     GT3       T     3     4     other     other
10      GP   F   15       U     GT3       T     4     4   teacher    health
11      GP   F   15       U     GT3       T     2     1  services     other
12      GP   M   15       U     LE3       T     4     4    health  services
13      GP   M   15       U     GT3       T     4     3   teacher     other
14      GP   M   15       U     GT3       A     2     2     other     other
15      GP   F   16       U     GT3       T     4     4    health     other
16      GP   F   16       U     GT3       T     4     4  services  services
17      GP   F   16       U     GT3       T     3     3     other     other
18      GP   M   17       U     GT3       T     3     2  services  services
19      GP   M   16       U     LE3       T     4     3    health     other
20      GP   M   15       U     GT3       T     4     3   teacher     other
21      GP   M   15       U     GT3       T     4     4    health    health
22      GP   M   16       U     LE3       T     4     2   teacher     other
23      GP   M   16       U     LE3       T     2     2     other     other
24      GP   F   15       R     GT3       T     2     4  services    health
25      GP   F   16       U     GT3       T     2     2  services  services
26      GP   M   15       U     GT3       T     2     2     other     other
27      GP   M   15       U     GT3       T     4     2    health  services
28      GP   M   16       U     LE3       A     3     4  services     other
29      GP   M   16       U     GT3       T     4     4   teacher   teacher
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
365     MS   M   18       R     GT3       T     1     3   at_home     other
366     MS   M   18       U     LE3       T     4     4   teacher  services
367     MS   F   17       R     GT3       T     1     1     other  services
368     MS   F   18       U     GT3       T     2     3   at_home  services
369     MS   F   18       R     GT3       T     4     4     other   teacher
370     MS   F   19       U     LE3       T     3     2  services  services
371     MS   M   18       R     LE3       T     1     2   at_home  services
372     MS   F   17       U     GT3       T     2     2     other   at_home
373     MS   F   17       R     GT3       T     1     2     other     other
374     MS   F   18       R     LE3       T     4     4     other     other
375     MS   F   18       R     GT3       T     1     1     other     other
376     MS   F   20       U     GT3       T     4     2    health     other
377     MS   F   18       R     LE3       T     4     4   teacher  services
378     MS   F   18       U     GT3       T     3     3     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
380     MS   M   18       U     GT3       T     4     4   teacher   teacher
381     MS   M   18       R     GT3       T     2     1     other     other
382     MS   M   17       U     GT3       T     2     3     other  services
383     MS   M   19       R     GT3       T     1     1     other  services
384     MS   M   18       R     GT3       T     4     2     other     other
385     MS   F   18       R     GT3       T     2     2   at_home     other
386     MS   F   18       R     GT3       T     4     4   teacher   at_home
387     MS   F   19       R     GT3       T     2     3  services     other
388     MS   F   18       U     LE3       T     3     1   teacher  services
389     MS   F   18       U     GT3       T     1     1     other     other
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

    ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0   ...      4        3      4     1     1      3        6   5   6   6
1   ...      5        3      3     1     1      3        4   5   5   6
2   ...      4        3      2     2     3      3       10   7   8  10
3   ...      3        2      2     1     1      5        2  15  14  15
4   ...      4        3      2     1     2      5        4   6  10  10
5   ...      5        4      2     1     2      5       10  15  15  15
6   ...      4        4      4     1     1      3        0  12  12  11
7   ...      4        1      4     1     1      1        6   6   5   6
8   ...      4        2      2     1     1      1        0  16  18  19
9   ...      5        5      1     1     1      5        0  14  15  15
10  ...      3        3      3     1     2      2        0  10   8   9
11  ...      5        2      2     1     1      4        4  10  12  12
12  ...      4        3      3     1     3      5        2  14  14  14
13  ...      5        4      3     1     2      3        2  10  10  11
14  ...      4        5      2     1     1      3        0  14  16  16
15  ...      4        4      4     1     2      2        4  14  14  14
16  ...      3        2      3     1     2      2        6  13  14  14
17  ...      5        3      2     1     1      4        4   8  10  10
18  ...      5        5      5     2     4      5       16   6   5   5
19  ...      3        1      3     1     3      5        4   8  10  10
20  ...      4        4      1     1     1      1        0  13  14  15
21  ...      5        4      2     1     1      5        0  12  15  15
22  ...      4        5      1     1     3      5        2  15  15  16
23  ...      5        4      4     2     4      5        0  13  13  12
24  ...      4        3      2     1     1      5        2  10   9   8
25  ...      1        2      2     1     3      5       14   6   9   8
26  ...      4        2      2     1     2      5        2  12  12  11
27  ...      2        2      4     2     4      1        4  15  16  15
28  ...      5        3      3     1     1      5        4  11  11  11
29  ...      4        4      5     5     5      5       16  10  12  11
..  ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
365 ...      3        3      4     2     4      3        4  10  10  10
366 ...      4        2      2     2     2      5        0  13  13  13
367 ...      5        2      1     1     2      1        0   7   6   0
368 ...      5        2      3     1     2      4        0  11  10  10
369 ...      3        2      2     4     2      5       10  14  12  11
370 ...      3        2      2     1     1      3        4   7   7   9
371 ...      4        3      3     2     3      3        3  14  12  12
372 ...      3        4      3     1     1      3        8  13  11  11
373 ...      3        5      5     1     3      1       14   6   5   5
374 ...      5        4      4     1     1      1        0  19  18  19
375 ...      4        3      2     1     2      4        2   8   8  10
376 ...      5        4      3     1     1      3        4  15  14  15
377 ...      5        4      3     3     4      2        4   8   9  10
378 ...      4        1      3     1     2      1        0  15  15  15
379 ...      4        5      4     2     3      1       17  10  10  10
380 ...      3        2      4     1     4      2        4  15  14  14
381 ...      4        4      3     1     3      5        5   7   6   7
382 ...      4        4      3     1     1      3        2  11  11  10
383 ...      4        3      2     1     3      5        0   6   5   0
384 ...      5        4      3     4     3      3       14   6   5   5
385 ...      5        3      3     1     3      4        2  10   9  10
386 ...      4        4      3     2     2      5        7   6   5   6
387 ...      5        4      2     1     2      5        0   7   5   0
388 ...      4        3      4     1     1      1        0   7   9   8
389 ...      1        1      1     1     1      5        0   6   5   0
390 ...      5        5      4     4     5      4       11   9   9   9
391 ...      2        4      5     3     4      2        3  14  16  16
392 ...      5        5      3     3     3      3        3  10   8   7
393 ...      4        4      1     3     4      5        0  11  12  10
394 ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]
Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')
(395, 33)

# Question 2 - drop missing values
*Set the index name of the dataframe to **"number"**. Check sample of data to drop if any missing values are there.*
*Use .dropna() function to drop the NAs*

#### Answer:

In [ ]:
len(missing_values)

In [12]:
#Setting the index
dataFrame_student.index.name='number'
print(dataFrame_student)

#Checking for null values
missing_values=dataFrame_student.columns[dataFrame.isnull().any()]
if len(missing_values)==0:
    print("No missing values")

       school sex  age address famsize Pstatus  Medu  Fedu      Mjob  \
number
0          GP   F   18       U     GT3       A     4     4   at_home
1          GP   F   17       U     GT3       T     1     1   at_home
2          GP   F   15       U     LE3       T     1     1   at_home
3          GP   F   15       U     GT3       T     4     2    health
4          GP   F   16       U     GT3       T     3     3     other
5          GP   M   16       U     LE3       T     4     3  services
6          GP   M   16       U     LE3       T     2     2     other
7          GP   F   17       U     GT3       A     4     4     other
8          GP   M   15       U     LE3       A     3     2  services
9          GP   M   15       U     GT3       T     3     4     other
10         GP   F   15       U     GT3       T     4     4   teacher
11         GP   F   15       U     GT3       T     2     1  services
12         GP   M   15       U     LE3       T     4     4    health
13         GP   M   15       U     GT3       T     4     3   teacher
14         GP   M   15       U     GT3       A     2     2     other
15         GP   F   16       U     GT3       T     4     4    health
16         GP   F   16       U     GT3       T     4     4  services
17         GP   F   16       U     GT3       T     3     3     other
18         GP   M   17       U     GT3       T     3     2  services
19         GP   M   16       U     LE3       T     4     3    health
20         GP   M   15       U     GT3       T     4     3   teacher
21         GP   M   15       U     GT3       T     4     4    health
22         GP   M   16       U     LE3       T     4     2   teacher
23         GP   M   16       U     LE3       T     2     2     other
24         GP   F   15       R     GT3       T     2     4  services
25         GP   F   16       U     GT3       T     2     2  services
26         GP   M   15       U     GT3       T     2     2     other
27         GP   M   15       U     GT3       T     4     2    health
28         GP   M   16       U     LE3       A     3     4  services
29         GP   M   16       U     GT3       T     4     4   teacher
...       ...  ..  ...     ...     ...     ...   ...   ...       ...
365        MS   M   18       R     GT3       T     1     3   at_home
366        MS   M   18       U     LE3       T     4     4   teacher
367        MS   F   17       R     GT3       T     1     1     other
368        MS   F   18       U     GT3       T     2     3   at_home
369        MS   F   18       R     GT3       T     4     4     other
370        MS   F   19       U     LE3       T     3     2  services
371        MS   M   18       R     LE3       T     1     2   at_home
372        MS   F   17       U     GT3       T     2     2     other
373        MS   F   17       R     GT3       T     1     2     other
374        MS   F   18       R     LE3       T     4     4     other
375        MS   F   18       R     GT3       T     1     1     other
376        MS   F   20       U     GT3       T     4     2    health
377        MS   F   18       R     LE3       T     4     4   teacher
378        MS   F   18       U     GT3       T     3     3     other
379        MS   F   17       R     GT3       T     3     1   at_home
380        MS   M   18       U     GT3       T     4     4   teacher
381        MS   M   18       R     GT3       T     2     1     other
382        MS   M   17       U     GT3       T     2     3     other
383        MS   M   19       R     GT3       T     1     1     other
384        MS   M   18       R     GT3       T     4     2     other
385        MS   F   18       R     GT3       T     2     2   at_home
386        MS   F   18       R     GT3       T     4     4   teacher
387        MS   F   19       R     GT3       T     2     3  services
388        MS   F   18       U     LE3       T     3     1   teacher
389        MS   F   18       U     GT3       T     1     1     other
390        MS   M   20       U     LE3       A     2     2  services
391        MS   M   17       U     LE3       T     3     1  services
392        MS   M   21       R     GT3       T     1     1     other
393        MS   M   18       R     LE3       T     3     2  services
394        MS   M   19       U     LE3       T     1     1     other

            Fjob ... famrel freetime  goout  Dalc  Walc health absences  G1  \
number           ...
0        teacher ...      4        3      4     1     1      3        6   5
1          other ...      5        3      3     1     1      3        4   5
2          other ...      4        3      2     2     3      3       10   7
3       services ...      3        2      2     1     1      5        2  15
4          other ...      4        3      2     1     2      5        4   6
5          other ...      5        4      2     1     2      5       10  15
6          other ...      4        4      4     1     1      3        0  12
7        teacher ...      4        1      4     1     1      1        6   6
8          other ...      4        2      2     1     1      1        0  16
9          other ...      5        5      1     1     1      5        0  14
10        health ...      3        3      3     1     2      2        0  10
11         other ...      5        2      2     1     1      4        4  10
12      services ...      4        3      3     1     3      5        2  14
13         other ...      5        4      3     1     2      3        2  10
14         other ...      4        5      2     1     1      3        0  14
15         other ...      4        4      4     1     2      2        4  14
16      services ...      3        2      3     1     2      2        6  13
17         other ...      5        3      2     1     1      4        4   8
18      services ...      5        5      5     2     4      5       16   6
19         other ...      3        1      3     1     3      5        4   8
20         other ...      4        4      1     1     1      1        0  13
21        health ...      5        4      2     1     1      5        0  12
22         other ...      4        5      1     1     3      5        2  15
23         other ...      5        4      4     2     4      5        0  13
24        health ...      4        3      2     1     1      5        2  10
25      services ...      1        2      2     1     3      5       14   6
26         other ...      4        2      2     1     2      5        2  12
27      services ...      2        2      4     2     4      1        4  15
28         other ...      5        3      3     1     1      5        4  11
29       teacher ...      4        4      5     5     5      5       16  10
...          ... ...    ...      ...    ...   ...   ...    ...      ...  ..
365        other ...      3        3      4     2     4      3        4  10
366     services ...      4        2      2     2     2      5        0  13
367     services ...      5        2      1     1     2      1        0   7
368     services ...      5        2      3     1     2      4        0  11
369      teacher ...      3        2      2     4     2      5       10  14
370     services ...      3        2      2     1     1      3        4   7
371     services ...      4        3      3     2     3      3        3  14
372      at_home ...      3        4      3     1     1      3        8  13
373        other ...      3        5      5     1     3      1       14   6
374        other ...      5        4      4     1     1      1        0  19
375        other ...      4        3      2     1     2      4        2   8
376        other ...      5        4      3     1     1      3        4  15
377     services ...      5        4      3     3     4      2        4   8
378        other ...      4        1      3     1     2      1        0  15
379        other ...      4        5      4     2     3      1       17  10
380      teacher ...      3        2      4     1     4      2        4  15
381        other ...      4        4      3     1     3      5        5   7
382     services ...      4        4      3     1     1      3        2  11
383     services ...      4        3      2     1     3      5        0   6
384        other ...      5        4      3     4     3      3       14   6
385        other ...      5        3      3     1     3      4        2  10
386      at_home ...      4        4      3     2     2      5        7   6
387        other ...      5        4      2     1     2      5        0   7
388     services ...      4        3      4     1     1      1        0   7
389        other ...      1        1      1     1     1      5        0   6
390     services ...      5        5      4     4     5      4       11   9
391     services ...      2        4      5     3     4      2        3  14
392        other ...      5        5      3     3     3      3        3  10
393        other ...      4        4      1     3     4      5        0  11
394      at_home ...      3        2      3     3     3      5        5   8

        G2  G3
number
0        6   6
1        5   6
2        8  10
3       14  15
4       10  10
5       15  15
6       12  11
7        5   6
8       18  19
9       15  15
10       8   9
11      12  12
12      14  14
13      10  11
14      16  16
15      14  14
16      14  14
17      10  10
18       5   5
19      10  10
20      14  15
21      15  15
22      15  16
23      13  12
24       9   8
25       9   8
26      12  11
27      16  15
28      11  11
29      12  11
...     ..  ..
365     10  10
366     13  13
367      6   0
368     10  10
369     12  11
370      7   9
371     12  12
372     11  11
373      5   5
374     18  19
375      8  10
376     14  15
377      9  10
378     15  15
379     10  10
380     14  14
381      6   7
382     11  10
383      5   0
384      5   5
385      9  10
386      5   6
387      5   0
388      9   8
389      5   0
390      9   9
391     16  16
392      8   7
393     12  10
394      9   9

[395 rows x 33 columns]
No missing values

# Transform Data

## Question 3

*Print all the attribute names which are not numerical.*

**Hint:** check **select_dtypes()** and its **include** and **exclude** parameters.**

#### Answer:

In [13]:
data_temp=dataFrame_student.copy()
data_temp.select_dtypes(exclude=["number"])
data_temp.columns
print("String Dataset")
print(data_temp)

String Dataset
       school sex  age address famsize Pstatus  Medu  Fedu      Mjob  \
number
0          GP   F   18       U     GT3       A     4     4   at_home
1          GP   F   17       U     GT3       T     1     1   at_home
2          GP   F   15       U     LE3       T     1     1   at_home
3          GP   F   15       U     GT3       T     4     2    health
4          GP   F   16       U     GT3       T     3     3     other
5          GP   M   16       U     LE3       T     4     3  services
6          GP   M   16       U     LE3       T     2     2     other
7          GP   F   17       U     GT3       A     4     4     other
8          GP   M   15       U     LE3       A     3     2  services
9          GP   M   15       U     GT3       T     3     4     other
10         GP   F   15       U     GT3       T     4     4   teacher
11         GP   F   15       U     GT3       T     2     1  services
12         GP   M   15       U     LE3       T     4     4    health
13         GP   M   15       U     GT3       T     4     3   teacher
14         GP   M   15       U     GT3       A     2     2     other
15         GP   F   16       U     GT3       T     4     4    health
16         GP   F   16       U     GT3       T     4     4  services
17         GP   F   16       U     GT3       T     3     3     other
18         GP   M   17       U     GT3       T     3     2  services
19         GP   M   16       U     LE3       T     4     3    health
20         GP   M   15       U     GT3       T     4     3   teacher
21         GP   M   15       U     GT3       T     4     4    health
22         GP   M   16       U     LE3       T     4     2   teacher
23         GP   M   16       U     LE3       T     2     2     other
24         GP   F   15       R     GT3       T     2     4  services
25         GP   F   16       U     GT3       T     2     2  services
26         GP   M   15       U     GT3       T     2     2     other
27         GP   M   15       U     GT3       T     4     2    health
28         GP   M   16       U     LE3       A     3     4  services
29         GP   M   16       U     GT3       T     4     4   teacher
...       ...  ..  ...     ...     ...     ...   ...   ...       ...
365        MS   M   18       R     GT3       T     1     3   at_home
366        MS   M   18       U     LE3       T     4     4   teacher
367        MS   F   17       R     GT3       T     1     1     other
368        MS   F   18       U     GT3       T     2     3   at_home
369        MS   F   18       R     GT3       T     4     4     other
370        MS   F   19       U     LE3       T     3     2  services
371        MS   M   18       R     LE3       T     1     2   at_home
372        MS   F   17       U     GT3       T     2     2     other
373        MS   F   17       R     GT3       T     1     2     other
374        MS   F   18       R     LE3       T     4     4     other
375        MS   F   18       R     GT3       T     1     1     other
376        MS   F   20       U     GT3       T     4     2    health
377        MS   F   18       R     LE3       T     4     4   teacher
378        MS   F   18       U     GT3       T     3     3     other
379        MS   F   17       R     GT3       T     3     1   at_home
380        MS   M   18       U     GT3       T     4     4   teacher
381        MS   M   18       R     GT3       T     2     1     other
382        MS   M   17       U     GT3       T     2     3     other
383        MS   M   19       R     GT3       T     1     1     other
384        MS   M   18       R     GT3       T     4     2     other
385        MS   F   18       R     GT3       T     2     2   at_home
386        MS   F   18       R     GT3       T     4     4   teacher
387        MS   F   19       R     GT3       T     2     3  services
388        MS   F   18       U     LE3       T     3     1   teacher
389        MS   F   18       U     GT3       T     1     1     other
390        MS   M   20       U     LE3       A     2     2  services
391        MS   M   17       U     LE3       T     3     1  services
392        MS   M   21       R     GT3       T     1     1     other
393        MS   M   18       R     LE3       T     3     2  services
394        MS   M   19       U     LE3       T     1     1     other

            Fjob ... famrel freetime  goout  Dalc  Walc health absences  G1  \
number           ...
0        teacher ...      4        3      4     1     1      3        6   5
1          other ...      5        3      3     1     1      3        4   5
2          other ...      4        3      2     2     3      3       10   7
3       services ...      3        2      2     1     1      5        2  15
4          other ...      4        3      2     1     2      5        4   6
5          other ...      5        4      2     1     2      5       10  15
6          other ...      4        4      4     1     1      3        0  12
7        teacher ...      4        1      4     1     1      1        6   6
8          other ...      4        2      2     1     1      1        0  16
9          other ...      5        5      1     1     1      5        0  14
10        health ...      3        3      3     1     2      2        0  10
11         other ...      5        2      2     1     1      4        4  10
12      services ...      4        3      3     1     3      5        2  14
13         other ...      5        4      3     1     2      3        2  10
14         other ...      4        5      2     1     1      3        0  14
15         other ...      4        4      4     1     2      2        4  14
16      services ...      3        2      3     1     2      2        6  13
17         other ...      5        3      2     1     1      4        4   8
18      services ...      5        5      5     2     4      5       16   6
19         other ...      3        1      3     1     3      5        4   8
20         other ...      4        4      1     1     1      1        0  13
21        health ...      5        4      2     1     1      5        0  12
22         other ...      4        5      1     1     3      5        2  15
23         other ...      5        4      4     2     4      5        0  13
24        health ...      4        3      2     1     1      5        2  10
25      services ...      1        2      2     1     3      5       14   6
26         other ...      4        2      2     1     2      5        2  12
27      services ...      2        2      4     2     4      1        4  15
28         other ...      5        3      3     1     1      5        4  11
29       teacher ...      4        4      5     5     5      5       16  10
...          ... ...    ...      ...    ...   ...   ...    ...      ...  ..
365        other ...      3        3      4     2     4      3        4  10
366     services ...      4        2      2     2     2      5        0  13
367     services ...      5        2      1     1     2      1        0   7
368     services ...      5        2      3     1     2      4        0  11
369      teacher ...      3        2      2     4     2      5       10  14
370     services ...      3        2      2     1     1      3        4   7
371     services ...      4        3      3     2     3      3        3  14
372      at_home ...      3        4      3     1     1      3        8  13
373        other ...      3        5      5     1     3      1       14   6
374        other ...      5        4      4     1     1      1        0  19
375        other ...      4        3      2     1     2      4        2   8
376        other ...      5        4      3     1     1      3        4  15
377     services ...      5        4      3     3     4      2        4   8
378        other ...      4        1      3     1     2      1        0  15
379        other ...      4        5      4     2     3      1       17  10
380      teacher ...      3        2      4     1     4      2        4  15
381        other ...      4        4      3     1     3      5        5   7
382     services ...      4        4      3     1     1      3        2  11
383     services ...      4        3      2     1     3      5        0   6
384        other ...      5        4      3     4     3      3       14   6
385        other ...      5        3      3     1     3      4        2  10
386      at_home ...      4        4      3     2     2      5        7   6
387        other ...      5        4      2     1     2      5        0   7
388     services ...      4        3      4     1     1      1        0   7
389        other ...      1        1      1     1     1      5        0   6
390     services ...      5        5      4     4     5      4       11   9
391     services ...      2        4      5     3     4      2        3  14
392        other ...      5        5      3     3     3      3        3  10
393        other ...      4        4      1     3     4      5        0  11
394      at_home ...      3        2      3     3     3      5        5   8

        G2  G3
number
0        6   6
1        5   6
2        8  10
3       14  15
4       10  10
5       15  15
6       12  11
7        5   6
8       18  19
9       15  15
10       8   9
11      12  12
12      14  14
13      10  11
14      16  16
15      14  14
16      14  14
17      10  10
18       5   5
19      10  10
20      14  15
21      15  15
22      15  16
23      13  12
24       9   8
25       9   8
26      12  11
27      16  15
28      11  11
29      12  11
...     ..  ..
365     10  10
366     13  13
367      6   0
368     10  10
369     12  11
370      7   9
371     12  12
372     11  11
373      5   5
374     18  19
375      8  10
376     14  15
377      9  10
378     15  15
379     10  10
380     14  14
381      6   7
382     11  10
383      5   0
384      5   5
385      9  10
386      5   6
387      5   0
388      9   8
389      5   0
390      9   9
391     16  16
392      8   7
393     12  10
394      9   9

[395 rows x 33 columns]

# Question 4 - Drop variables with less variance

*Find the variance of each numerical independent variable and drop whose variance is less than 1. Use .var function to check the variance*

In [24]:
dataFrame.columns
print("**** Before Dropping ****")
var_dataFrame=dataFrame_student.var()
print(var_dataFrame)
k=(dataFrame_student.var() < 1)
print(k[k==True].index.tolist())
student_data=dataFrame_student.drop(k[k==True].index.tolist(),axis=1)
print("*** After Dropping ***")
student_data.columns

**** Before Dropping ****
age            1.628285
Medu           1.198445
Fedu           1.184180
traveltime     0.486513
studytime      0.704324
failures       0.553017
famrel         0.803997
freetime       0.997725
goout          1.239388
Dalc           0.793420
Walc           1.658678
health         1.932944
absences      64.049541
G1            11.017053
G2            14.148917
G3            20.989616
dtype: float64
['traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'Dalc']
*** After Dropping ***

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'goout',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

#### Variables with less variance are almost same for all the records. Hence, they do not contribute much for classification.

# Question 5 - Encode all categorical variables to numerical

Take the list of categorical attributes(from the above result) and convert them into neumerical variables. After that, print the head of dataframe and check the values.

**Hint:** check **sklearn LabelEncoder()**

#### Answer:

In [20]:
student_cols=dataFrame_student.select_dtypes(exclude=np.number).columns.tolist()
student_cols

['school',
 'sex',
 'address',
 'famsize',
 'Pstatus',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic']

In [22]:
from sklearn import preprocessing
labelEncoder=preprocessing.LabelEncoder()

for column in student_cols:
    student_data[column]=labelEncoder.fit_transform(student_data[column])
student_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,goout,Walc,health,absences,G1,G2,G3
number,,,,,,,,,,,,,,,,,,,,,
0,0,0,18,1,0,0,4,4,0,4,...,1,0,0,4,1,3,6,5,6,6
1,0,0,17,1,0,1,1,1,0,2,...,1,1,0,3,1,3,4,5,5,6
2,0,0,15,1,1,1,1,1,0,2,...,1,1,0,2,3,3,10,7,8,10
3,0,0,15,1,0,1,4,2,1,3,...,1,1,1,2,1,5,2,15,14,15
4,0,0,16,1,0,1,3,3,2,2,...,1,0,0,2,2,5,4,6,10,10

# Question 6 - Convert the continuous values of grades into classes

*Consider the values in G1, G2 and G3 with >= 10 as pass(1) and < 10 as fail(0) and encode them into binary values. Print head of dataframe to check the values.*

#### Answer:

# Question 7

*Consider G3 is the target attribute and remaining all attributes as features to predict G3. Now, separate feature and target attributes into separate dataframes with X and y variable names.*

Answer

# Question 8 - Training and testing data split

# *So far, you have converted all categorical features into numeric values. Now, split the data into training and test sets with training size of 300 records. Print the number of train and test records.*

**Hint:** check **train_test_split()** from **sklearn**

#### Answer:

# Question 9 - Model Implementation and Testing the Accuracy

*Build a **LogisticRegression** classifier using **fit()** functions in sklearn. 
* You need to import both Logistic regression and accuracy score from sklearn*
#### Answer:

# Question 10 - Print the intercept of the Logistic regression model (0.5 points)

The value of the intercepts are stored in the model itself. You can use .intercept_ function to do the same

# Question 11 - Print the coefficients of the model and name the coefficient which has the highest impact on the dependent variable

Hint: Use .coef_ to get the coefficients and use pd.Dataframe to store the coefficients in a dataframe with column names same as the independent variable dataframe

# Question 12 - Predict the dependent variable for both training and test dataset

Accuracy score() should help you to print the accuracies